

// #dropdownMenuButton1
// {
  
//     background-color: #cf8504;
//     color: white;
//     font-size: medium;
//     padding-top: 0.7em;
//     padding-right: 0;
//     padding-left: 0;
    
    
// }

// #dropdownMenuButton1:hover{

//     background-color: #ffa500;
// }

/* Dropdown Button */
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  #myforms{
    float: left;
  }
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .container{
    padding:0 180px 0 150px;
}

  
 